# Start slow

## Sub heading

This is just a paragraph.

In [1]:
# code cell
name = "Jonathan"

# Tips and Tricks

A markdown cell lets you do many _useful things_.

In [2]:
# Add this to python2 code to make life easier -- safe to use in python3 as well.
from __future__ import absolute_import, division, print_function

In [3]:
import numpy as np
# don't do:
# from numpy import *

In [4]:
max('a')

'a'

In [5]:
np.max('a')

TypeError: cannot perform reduce with flexible type

In [6]:
%matplotlib inline
%config InlineBackend.figure_format='retina'

## Imports

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.datasets import load_boston
from pivottablejs import pivot_ui
# import qgrid
import sys
import warnings
warnings.filterwarnings('ignore')

# Keyboard shortcuts

Practice doing these a few times and try to force yourself to use them whenever you can. 

## Help (h)
For help in the Notebook, `ESC` + `h`
(doesn't work in Lab)

## Select multiple cells

j, k, and arrow keys while holding shift selects multiple cells.

In [ ]:
first = 1

In [ ]:
second = 2

In [ ]:
third = 3

## Split a cell with -

Well, ctrl + shift + -, but remember it by horizontal.

In [ ]:
print(name)

## Add a new cell (a)bove

## Add a new cell (b)elow

## (d)(d)elete

## (c)opy cells

## (v)aste cells

# Pivot Tables w/ pandas

A library and example from: http://nicolas.kruchten.com/content/2015/09/jupyter_pivottablejs/

In [9]:
df = pd.read_csv("../data/mps.csv", encoding="ISO-8859-1")

In [10]:
# recommend using .head()
df.head(10)

                 Name           Party          Province   Age  Gender
0         Liu, Laurin             NDP            Quebec  22.0  Female
1      Mourani, Maria  Bloc Quebecois            Quebec  43.0  Female
2    Sellah, Djaouida             NDP            Quebec   NaN  Female
3      St-Denis, Lise             NDP            Quebec  72.0  Female
4           Fry, Hedy         Liberal  British Columbia  71.0  Female
5      Turmel, Nycole             NDP            Quebec  70.0  Female
6          Sgro, Judy         Liberal           Ontario  68.0  Female
7  Raynault, Francine             NDP            Quebec  67.0  Female
8  Davidson, Patricia    Conservative           Ontario  66.0  Female
9          Smith, Joy    Conservative          Manitoba  65.0  Female

# Enhanced Pandas Dataframe Display

In [11]:
# Province, Party, Average, Age, Heatmap

In [12]:
pivot_ui(df)

In [13]:
df_dict = load_boston()
features = pd.DataFrame(data=df_dict.data, columns = df_dict.feature_names)
target = pd.DataFrame(data=df_dict.target, columns = ['MEDV'])
df = pd.concat([features, target], axis=1)

In [14]:
df['Zone'] = df['ZN'].astype('category')
df['CHAS'] = df['CHAS'].astype('category')
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,Zone
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0,18.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6,0.0
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7,0.0
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4,0.0
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2,0.0

## QGrid

Interactive pandas dataframes: https://github.com/quantopian/qgrid

In [46]:
qgrid_widget = qgrid.show_grid(df[['CRIM',
                                   'Zone',
                                   'INDUS',
                                   'CHAS',
                                   'NOX',
                                   'AGE',
                                   'RAD',
                                   'LSTAT',
                                   'MEDV',
                                  ]], show_toolbar=True)

In [47]:
qgrid_widget

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [48]:
df2 = qgrid_widget.get_changed_df()

In [49]:
df2.head(7)

       CRIM  Zone  INDUS CHAS     NOX   AGE  RAD  LSTAT  MEDV
6   0.08829  12.5   7.87  0.0  0.5240  42.1  5.0  12.43  22.9
64  0.01951  17.5   1.38  0.0  0.4161  59.5  3.0   8.05  33.0
0   0.00632  18.0   2.31  0.0  0.5380  65.2  1.0   4.98  24.0

In [50]:
df.head(7)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,Zone
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0,18.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6,0.0
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7,0.0
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4,0.0
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2,0.0
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21,28.7,0.0
6,0.08829,12.5,7.87,0.0,0.524,6.012,66.6,5.5605,5.0,311.0,15.2,395.60,12.43,22.9,12.5

# Tab

In [51]:
import numpy as np

In [52]:
np.random.chisquare(size=5)

TypeError: chisquare() takes at least 1 positional argument (0 given)

In [ ]:
# pure tab right ↓ less useful
np.random.choice(jafopisjfapoisdjf)

## shift-tab

In [ ]:
# shift-tab right ↓ more useful
np.linspace(start=, endpoint=, )

## shift-tab-tab

## shift-tab-tab-tab

In [ ]:
np.linspace(50, 150, num=100, endpoint=False, )

## shift-tab-tab-tab-tab

In [ ]:
plt.plot(np.linspace(start, stop,), )

## ?

In [15]:
np.linspace?

In [54]:
?np.linspace

## ??

(Lab can scroll if you click)

In [23]:
np.linspace??

In [56]:
!subl ~/miniconda3/envs/dspy3/lib/python3.6/site-packages/numpy/core/function_base.py

In [26]:
import inspect
!subl {inspect.getsourcefile(np.linspace)}

In [57]:
import textwrap
def example_function():
    """Docstring for example function"""
    
    print(textwrap.dedent("""
    This is a multi-lined string
    that I want to write inside of a function.
    Notice what happens when I print this.
        And when something is indented more."""))


example_function()

This is a multi-lined string
that I want to write inside of a function.
Notice what happens when I print this.
    And when something is indented more.

## Inspect _everything_ and Find and Replace

In [27]:
# But first find and replace
def silly_function(xval):
    """Takes a value and returns the value."""
    xval_sq = xval ** 2.0
    1 + 12
    xval_abs = np.sqrt(xval_sq)
    return xval_abs

In [28]:
silly_function(2,)

2.0

In [29]:
silly_function?

In [30]:
silly_function??

In [31]:
!ls ../data/

coal_prod_2008.csv        coal_prod_2011.csv        coal_prod_cleaned.csv.zip
coal_prod_2009.csv        coal_prod_2012.csv        mps.csv
coal_prod_2010.csv        coal_prod_cleaned.csv     raw_players.csv.gz

In [32]:
coal_years = !ls ../data/coal_prod_20*.csv

In [33]:
coal_years

['../data/coal_prod_2008.csv',
 '../data/coal_prod_2009.csv',
 '../data/coal_prod_2010.csv',
 '../data/coal_prod_2011.csv',
 '../data/coal_prod_2012.csv']

## Line numbers (lowercase "L")

Type lowercase "L" to have line numbers; shift-L for line numbers notebook-wide.

## Move blocks of code around


### Indent/dedent

    Cmd + [
    Cmd + ]

### Comment

    Cmd + /

In [67]:
example_dict = {}

# Indent/dedent/comment
for index in range(5):
    example_dict["one"] = 1
    example_dict["two"] = 2
    example_dict["three"] = 3
    example_dict["four"] = 4

## Multicursor magic

Hold down `option`, click and drag (for big cursor).

cmd + click == wherever you click. 

Shift command P -- command palette.

In [68]:
example_dict["prepend_one_better_neat"] = 1.0
example_dict["prepend_two_better_neat"] = 2.0
example_dict["prepend_three_better_neat"] = 3.0
example_dict["prepend_four_better_neat"] = 4.0

## Monospace

You can also get `monospaced` fonts by indenting 4 spaces:

    mkdir toc
    cd toc

## Syntax Highlighting

Wrap with triple-backticks and language:

```bash
mkdir toc
cd toc
wget https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh
```

```SQL
SELECT first_name,
       last_name,
       year_of_birth
FROM presidents
WHERE year_of_birth > 1800;
```

## Headings and LaTeX

With text and $\LaTeX$ support.

$$\begin{align}
        B'&=-\nabla \times E,\\
        E'&=\nabla \times B - 4\pi j
\end{align}$$

# Magics

 - `%` $\equiv$ inline magic
 - `%%` $\equiv$ cell magic

In [34]:
%%latex

If you want to get crazier$\ldots$

\begin{equation}
\oint_S {E_n dA = \frac{1}{{\varepsilon _0 }}} Q_\textrm{inside}
\end{equation}

In [35]:
%%bash
wget http://www.ast.cam.ac.uk/~rfc/vpfit10.2.tar.gz
mkdir vpfit10
cd vpfit10
tar -xvzf ../vpfit10.2.tar.gz

bash: line 1: wget: command not found
tar: Error opening archive: Failed to open '../vpfit10.2.tar.gz'

In [36]:
normal_argument = 12.4
second_argument = 98.4

arg_with_spaces = "the secret to life"

In [37]:
%%bash -s {normal_argument} {second_argument}
echo "This script knows the value of the argument: $1"
echo "It also has no trouble with the second argument: $2"

This script knows the value of the argument: 12.4
It also has no trouble with the second argument: 98.4

In [38]:
%%bash -s "$arg_with_spaces"
echo "This bash script knows $1."

This bash script knows the secret to life.

In [39]:
ls

00-Overview.ipynb                10-R-stuff.ipynb
01-Tips-and-tricks.ipynb         11-older-stuff.ipynb
02-NBExtensions.ipynb            12-old-pandas.ipynb
03-Interactive-Splines.ipynb     Advanced-Notebook-Tricks.ipynb
04-Autoreload.ipynb              Basic-Plotting.ipynb
05-SQL-Example.ipynb             Data_Cleaning.ipynb
06-Advanced-Visualization.ipynb  history.ipynb
07-Some_basics.ipynb             pivottablejs.html
08-More_basics.ipynb             vpfit10/
09-Extras.ipynb

In [40]:
!ls

00-Overview.ipynb               10-R-stuff.ipynb
01-Tips-and-tricks.ipynb        11-older-stuff.ipynb
02-NBExtensions.ipynb           12-old-pandas.ipynb
03-Interactive-Splines.ipynb    Advanced-Notebook-Tricks.ipynb
04-Autoreload.ipynb             Basic-Plotting.ipynb
05-SQL-Example.ipynb            Data_Cleaning.ipynb
06-Advanced-Visualization.ipynb history.ipynb
07-Some_basics.ipynb            pivottablejs.html
08-More_basics.ipynb            vpfit10
09-Extras.ipynb

In [41]:
%ls

00-Overview.ipynb                10-R-stuff.ipynb
01-Tips-and-tricks.ipynb         11-older-stuff.ipynb
02-NBExtensions.ipynb            12-old-pandas.ipynb
03-Interactive-Splines.ipynb     Advanced-Notebook-Tricks.ipynb
04-Autoreload.ipynb              Basic-Plotting.ipynb
05-SQL-Example.ipynb             Data_Cleaning.ipynb
06-Advanced-Visualization.ipynb  history.ipynb
07-Some_basics.ipynb             pivottablejs.html
08-More_basics.ipynb             vpfit10/
09-Extras.ipynb

In [42]:
ls vpfit10/

In [43]:
tailthing = "*.ipynb"

In [44]:
tailthing

'*.ipynb'

In [45]:
!ls {tailthing}

00-Overview.ipynb               09-Extras.ipynb
01-Tips-and-tricks.ipynb        10-R-stuff.ipynb
02-NBExtensions.ipynb           11-older-stuff.ipynb
03-Interactive-Splines.ipynb    12-old-pandas.ipynb
04-Autoreload.ipynb             Advanced-Notebook-Tricks.ipynb
05-SQL-Example.ipynb            Basic-Plotting.ipynb
06-Advanced-Visualization.ipynb Data_Cleaning.ipynb
07-Some_basics.ipynb            history.ipynb
08-More_basics.ipynb

In [46]:
output = !ls

In [47]:
output

['00-Overview.ipynb',
 '01-Tips-and-tricks.ipynb',
 '02-NBExtensions.ipynb',
 '03-Interactive-Splines.ipynb',
 '04-Autoreload.ipynb',
 '05-SQL-Example.ipynb',
 '06-Advanced-Visualization.ipynb',
 '07-Some_basics.ipynb',
 '08-More_basics.ipynb',
 '09-Extras.ipynb',
 '10-R-stuff.ipynb',
 '11-older-stuff.ipynb',
 '12-old-pandas.ipynb',
 'Advanced-Notebook-Tricks.ipynb',
 'Basic-Plotting.ipynb',
 'Data_Cleaning.ipynb',
 'history.ipynb',
 'pivottablejs.html',
 'vpfit10']

In [48]:
%env

{'TERM_PROGRAM': 'iTerm.app',
 'PYENV_ROOT': '/Users/nknezek/.pyenv',
 'PIPENV_PYTHON': '/Users/nknezek/.pyenv/shims/python',
 'SHELL': '/bin/bash',
 'TERM': 'xterm-color',
 'TMPDIR': '/var/folders/ly/3vh2wjg95jb5mbhlwvxrp5km0000gn/T/',
 'PYTHON_PATH': '/Users/nknezek/.pyenv/shims/python',
 'Apple_PubSub_Socket_Render': '/private/tmp/com.apple.launchd.rdYjXFLsFw/Render',
 'TERM_PROGRAM_VERSION': '3.2.5',
 'TERM_SESSION_ID': 'w0t0p0:1DFD1BEE-203F-43B3-8E86-4108525FE072',
 'PYENV_VERSION': '3.6.5',
 'USER': 'nknezek',
 'SSH_AUTH_SOCK': '/private/tmp/com.apple.launchd.syEhHJqn6O/Listeners',
 'PYENV_DIR': '/Users/nknezek',
 '__CF_USER_TEXT_ENCODING': '0x1F5:0x0:0x0',
 'PATH': '/Users/nknezek/.pyenv/versions/3.6.5/bin:/Users/nknezek/.pyenv/versions/3.6.5/bin:/usr/local/Cellar/pyenv/1.2.7/libexec:/Users/nknezek/.jenv/shims:/Users/nknezek/.pyenv/shims:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin',
 'PWD': '/Users/nknezek',
 'JENV_LOADED': '1',
 'LANG': 'en_US.UTF-8',
 'ITERM_PROFILE': 'Default',
 'PYENV_HOOK_PATH': '/Users/nknezek/.pyenv/pyenv.d:/usr/local/Cellar/pyenv/1.2.7/pyenv.d:/usr/local/etc/pyenv.d:/etc/pyenv.d:/usr/lib/pyenv/hooks',
 'XPC_FLAGS': '0x0',
 'XPC_SERVICE_NAME': '0',
 'COLORFGBG': '7;0',
 'HOME': '/Users/nknezek',
 'SHLVL': '1',
 'PYENV_SHELL': 'bash',
 'ITERM_SESSION_ID': 'w0t0p0:1DFD1BEE-203F-43B3-8E86-4108525FE072',
 'LOGNAME': 'nknezek',
 'COLORTERM': 'truecolor',
 'JPY_PARENT_PID': '6970',
 'CLICOLOR': '1',
 'PAGER': 'cat',
 'GIT_PAGER': 'cat',
 'MPLBACKEND': 'module://ipykernel.pylab.backend_inline'}

## Danger zone

    _, _N and _iN

In [81]:
!pwd

/Users/jonathan/github/jupyter-tips-and-tricks/notebooks

In [82]:
a = 3
a

3

In [83]:
_i82

'a = 3\na'

In [84]:
_82

3

In [85]:
_

3

In [86]:
b = 5

In [87]:
c = a * b

In [88]:
%notebook history.ipynb

In [ ]:
!subl 01-Tips-and-tricks.ipynb